%h1 National Parks

%table#parks
  %thead
    - @parks.each do |park|
      %tr
        %td= park.parkname
        %td= park.location
        %td= link_to "More about #{park.parkname}", park_path(park)
= link_to 'Add new national park', new_park_path
