%p#notice= notice

%ul#parkheading
 %li
  %b Parkname:
  = @park.parkname
 %li
  %b Location:
  = @park.location
%ul#lines
%ul#parkdetails
 %li
  %b Info:
  = @park.info

%br

%ul#links
 = link_to 'Edit', edit_park_path(@park)
 \|
 = link_to 'Back', parks_path
 \|
 - if user_signed_in?
  = link_to 'Add to visited parks', profiles_path(:id => current_user.id, :add_to_visited_parks => @park.parkname + ": " + @park.location)
 - else
  = link_to 'Add to visited parks', new_user_registration_path
 \|
 - if user_signed_in?
  = link_to 'Remove from visited parks', profiles_path(:id => current_user.id, :remove_from_visited_parks => @park.parkname + ": " + @park.location)
 - else
  = link_to 'Remove from visited parks', new_user_registration_path

%ul#lines
 %h3#posttitle
  Microposts
%table#microposts
 %thead
  %tr
   %th Content
   %th User
 %tbody
  - @microposts.each do |post|
   - username = User.find(post.user).email.split("@")
   - if(post.park_id == session[:last_park])
    %tr
     %td= post.content
     %td= username[0]
%ul#lines

%ul#newpost
 = link_to 'Add new post', new_micropost_path, id: "newPost"

%ul#lines
 %h3#posttitle Map
 %ul#lines
 %td#img 
 = image_tag avatar_url(@park), :align => "middle"


