%h1 Profile of #{current_user.username}

%ul#details
  %li
    Email:
    = current_user.email
  %li
    Username:
    = current_user.username

%h3 Parks Visited:
%table#visited_parks
  %thead
    %tr
      %th Park Name: Location
  %tbody
    - if(current_user.visited_parks != nil)
      - current_user.visited_parks.split("; ").each do |park|
        - name = park.split(": ")
        %tr
          %td= link_to "#{park}", park_path(:name => name[0])
