%h1 Profile of #{current_user.username}

%ul#details
  %li
    Email:
    = current_user.email
  %li
    Username:
    = current_user.username
  %li
    Temp park list:
    = current_user.visited_parks

%h3 Parks Visited:
%table#visited_parks
  %thead
    %tr
      %th Park Name: Location
  %tbody
    - current_user.visited_parks.split("; ").each do |park|
      - name = park.split(": ")
      %tr
        %td= link_to "#{park}", park_path(:name => name[0])
